<script setup lang="ts"></script>
<template>
  <v-row justify="center" class="ma-4">
    <div>
      <v-img
        class="bg-white"
        width="300"
        :aspect-ratio="1"
        src="https://cdn.discordapp.com/attachments/955028901451694113/1054035508675751936/IMG_4902.jpg"
        cover
      ></v-img>
    </div>
  </v-row>
  <div class="ma-4">
    <v-banner
      avatar="https://cdn.discordapp.com/attachments/955028901451694113/1054083515181969508/41F79F85-A2B9-43A6-86FD-C7E5E726AC79.jpg"
      lines="one"
      text="ชื่อ-นามสกุล : นาย อนุศิษฏ์ ณ บางช้าง"
    ></v-banner>
    <v-banner
      avatar="https://cdn.discordapp.com/attachments/955028901451694113/1054083515181969508/41F79F85-A2B9-43A6-86FD-C7E5E726AC79.jpg"
      lines="one"
      text="อายุ : 20 ปี"
    ></v-banner>
    <v-banner
      avatar="https://cdn.discordapp.com/attachments/955028901451694113/1054083515181969508/41F79F85-A2B9-43A6-86FD-C7E5E726AC79.jpg"
      lines="one"
      text="ประวัติการศีกษา : จบการศีกษาชั้นประถมศึกษาจากโรงเรียนอนุบาลชลบุรี จบการศึกษาชั้นมัธยมศึกษาจากโรงเรียนชลราษฎรอำรุง ปัจจุบันศึกษาอยู่ที่มหาวิทยาลัยบูรพา คณะวิทยาการสารสนเทศ สาขาวิทยาการคอมพิวเตอร์ ชั้นปีที่ 2"
    ></v-banner>
    <v-banner
      avatar="https://cdn.discordapp.com/attachments/955028901451694113/1054083515181969508/41F79F85-A2B9-43A6-86FD-C7E5E726AC79.jpg"
      lines="one"
      text="สิ่งที่สนใจ : สนใจในอาชีพที่โปรแกรมมิ่ง และการสร้าง Application และการสร้างเว็บไซต์ต่างๆ"
    ></v-banner>
  </div>
</template>
